<section>
    <div ng-init="init()" class="modal-header">
        <h1 class="modal-title" translate>Scannez votre QRCode</h1>
    </div>

    <div class="form-panel modal-body">
        <div class="center" id="reader" style="margin-left:auto;margin-right:auto; width:250px;height:200px;">

        </div>
		<center>
			<!--<input type="text" id="txtQRCode" style="width:300px" ng-model="value" ng-keypress="$event.stopPropagation()" />-->
			<text-field id="txtQRCode" style="width:300px;min-height:34px;" ng-model="value" location="center-end" type="azerty" validfunction="ok" nativekeyboard="true"></text-field>
		</center>
    </div>

    <div class="modal-footer">
        <!--<button class="btn btn-green" ng-click="ok()">OK</button>-->
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>

</section>