<section>
    <div ng-init="init()" class="modal-header">
        <h1 class="modal-title" translate>Saisissez le numéro de carte</h1>
    </div>

    <div class="form-panel modal-body">
        <div class="inp" style="font-size:20px;margin-left:20%;">
            <label for="address">Barcode :</label>
            <input id="txtBarcode" type="text" ng-model="barcode" />
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-green" ng-click="ok()">OK</button>
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>

</section>