<section>
    <div ng-init="init()" class="modal-header">
        <h1 class="modal-title" translate>Table</h1>
    </div>

    <div class="form-panel modal-body">
        <div class="inp">
            <label for="address"><x translate>Numéro</x> :</label>
            <!--<input type="number" step="1" id="txtTable" ng-model="valueTable" ng-keypress="$event.stopPropagation()" />-->
			<text-field id="txtTable" ng-model="valueTable" location="end-start" type="numeric" validfunction="ok" style="width:150px"></text-field>
        </div>
        <br />
        <div class="inp">
            <label for="address"><x translate>Couvert(s)</x> :</label>
            <!--<input type="number" step="1" id="txtCutleries" ng-model="valueCutleries" ng-keypress="$event.stopPropagation()" />-->
			<text-field id="txtCutleries" ng-model="valueCutleries" location="end-start" type="numeric" validfunction="ok" style="width:128px"></text-field>
        </div>
        <div class="inp" ng-if="errorMessage">
            <span class="labelErr">{{errorMessage}}</span>
        </div>
    </div>

    <div class="modal-footer">
        <!--<button class="btn btn-green" ng-click="ok()">OK</button>-->
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>

</section>
