<div class="button-wrapper" layout="row" layout-wrap layout-fill layout-align="space-around stretch">
	<button class="circle" data-ng-key="1">1</button>
	<button class="circle" data-ng-key="2">2</button>
	<button class="circle" data-ng-key="3">3</button>
	<button class="circle" data-ng-key="4">4</button>
	<button class="circle" data-ng-key="5">5</button>
	<button class="circle" data-ng-key="6">6</button>
	<button class="circle" data-ng-key="7">7</button>
	<button class="circle" data-ng-key="8">8</button>
	<button class="circle" data-ng-key="9">9</button>
	<button class="circle" data-ng-key="0">0</button>
	<button class="circle" data-ng-key="-">-</button>
	<button class="circle" data-ng-key="_">_</button>

	<button class="circle" data-ng-key="a">a</button>
	<button class="circle" data-ng-key="z">z</button>
	<button class="circle" data-ng-key="e">e</button>
	<button class="circle" data-ng-key="r">r</button>
	<button class="circle" data-ng-key="t">t</button>
	<button class="circle" data-ng-key="y">y</button>
	<button class="circle" data-ng-key="u">u</button>
	<button class="circle" data-ng-key="i">i</button>
	<button class="circle" data-ng-key="o">o</button>
	<button class="circle" data-ng-key="p">p</button>
	<button class="circle" data-ng-key="+">+</button>
	<button class="circle" data-ng-key="=">=</button>

	<button class="circle" data-ng-key="q">q</button>
	<button class="circle" data-ng-key="s">s</button>
	<button class="circle" data-ng-key="d">d</button>
	<button class="circle" data-ng-key="f">f</button>
	<button class="circle" data-ng-key="g">g</button>
	<button class="circle" data-ng-key="h">h</button>
	<button class="circle" data-ng-key="j">j</button>
	<button class="circle" data-ng-key="k">k</button>
	<button class="circle" data-ng-key="l">l</button>
	<button class="circle" data-ng-key="m">m</button>
	<button class="circle" data-ng-key="'">'</button>
	<button class="circle" data-ng-key=":">:</button>

	<button class="circle" data-ng-key="w">w</button>
	<button class="circle" data-ng-key="x">x</button>
	<button class="circle" data-ng-key="c">c</button>
	<button class="circle" data-ng-key="v">v</button>
	<button class="circle" data-ng-key="b">b</button>
	<button class="circle" data-ng-key="n">n</button>
	<button class="circle" data-ng-key="?">?</button>
	<button class="circle" data-ng-key=",">,</button>
	<button class="circle" data-ng-key=".">.</button>
	<button class="circle" data-ng-key="!">!</button>
	<button class="circle" data-ng-key=";">;</button>
	<button class="circle" data-ng-key="/">/</button>

	<button data-ng-key="[CLEAR]" class="warning action"><span><img style="width:25px" src="img/erase.png"></span></button>
	<button data-ng-key="[SPACE]" class="smaller space"> </button>
	<button data-ng-key="[NEXT]" class="smaller success action">OK</button>
</div>