<div class="button-wrapper" layout="row" layout-wrap layout-fill layout-align="space-around stretch">
	<button data-ng-key="1" class="circle">1</button>
	<button data-ng-key="2" class="circle">2</button>
	<button data-ng-key="3" class="circle">3</button>

	<button data-ng-key="4" class="circle">4</button>
	<button data-ng-key="5" class="circle">5</button>
	<button data-ng-key="6" class="circle">6</button>

	<button data-ng-key="7" class="circle">7</button>
	<button data-ng-key="8" class="circle">8</button>
	<button data-ng-key="9" class="circle">9</button>

	<button data-ng-key="[MINUS]" class="circle">-</button>
	<button data-ng-key="0" class="circle">0</button>
	<button data-ng-key="[PLUS]" class="circle">+</button>

	<button data-ng-key="[CLEAR]" style="margin-top:25px" class="smaller warning"><span><img style="width:30px" src="img/erase.png"></span></button>
	<button data-ng-key="." style="margin-top:25px" class="circle">,</button>
	<button data-ng-key="[NEXT]" style="margin-top:25px" class="smaller success">OK</button>
</div>